In [1]:
library(tidyverse)
employees <- read_csv("_build/data/employee_data.csv")
employees$Salary <- parse_number(employees$Salary)
employees$Start_Date <- parse_date(employees$Start_Date, format = "%m/%d/%Y")

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang

Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2

-- Attaching packages --------------------------------------- tidyverse 1.2.1 --

v ggplot2 3.1.1       v purrr   0.3.2
v tibble  2.1.1       v dplyr   0.8.0.1
v tidyr   0.8.3       v stringr 1.4.0
v readr   1.3.1       v forcats 0.4.0

-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

Parsed with column specification:
cols(
  ID = col_double(),
  Name = col_character(),
  Gender = col_character(),
  Age = col_double(),
  Rating = col_double(),
  Degree = col_character(),
  Start_Date = col_character(),
  Retired = col_logical(),
  Division = col_character(),
  Salary = col_character()
)

# Quantitative Variables

As we explore a data set, it is often useful to calculate summary statistics that provide a preliminary overview of the variables we are working with. There are two main types of quantitative variables, continuous and discrete. A **continuous** variable is one that can take on any value within a certain numerical range. For example, in the `employees` data set `Salary` is continuous because it can take on any value above \$0. A **discrete** variable can take on only a discrete set of values (*e.g.*, 2,4,6,8). 
The most basic summary statistics for quantitative variables are measures of **central tendency**, such as:

+ The **mode** - the most frequent value in the data.

+ The **mean** - the average value, defined as the sum of all observations divided by the total number of observations. In mathematical notation, we would write this as: 

$$\bar{x} = \frac{1}{n} \sum^{n}_{i=1}{x_i}$$

  Conventionally, we have a data set with $n$ observations, and $x_i$ represents the value of the $i^{th}$ observation in that data set. In the formula above, the expression $\sum^{n}_{i=1}{x_i}$ means "the sum of the $n$ values of $x$ in the data set." To get the mean ($\bar{x}$), we divide that total by $n$.

  As we've seen before, we can calculate the mean in R with the `mean()` function.

In [2]:
mean(employees$Salary, na.rm = TRUE)

[1] 156486

In [3]:
print(mean(employees$Salary, na.rm = TRUE))

[1] 156486

+ The **median** & **quartiles** - when the data is sorted:
  + The median is the middle value (*i.e.*, the 50th percentile, also called the second quartile),
  + The first quartile is the 25th percentile, and 
  + The third quartile is the 75th percentile.
  
  We can calculate the median in R withinh the `median()` function.
  
```{admonition} Syntax
`median(x, na.rm = FALSE)`
+ *Required arguments*
  - `x`: The atomic vector whose values one would like to find the median of.
+ *Optional arguments*
  - `na.rm`: If `TRUE`, the function will **r**e**m**ove any missing values (`NA`s) in the atomic vector and find the median of the non-missing values. If `FALSE`, the function does *not* remove `NA`s and will return a value of `NA` if there is an `NA` in the atomic vector.
```

In [4]:
median(employees$Salary, na.rm = TRUE)

[1] 156289.5

In [5]:
print(median(employees$Salary, na.rm = TRUE))

[1] 156289.5

  We can calculate the first and third quartiles with `quantile()`.

```{admonition} Syntax
`quantile(x, probs = c(0, 0.25, 0.5, 0.75, 1), na.rm = FALSE)`
+ *Required arguments*
  - `x`: The atomic vector of values where we would like to find the quantiles.
+ *Optional arguments*
  - `probs`: An atomic vector with the percentiles (between 0 and 1) we would like to calculate.
  - `na.rm`: If `TRUE`, the function will **r**e**m**ove any missing values (`NA`s) in the atomic vector and find the percentiles of the non-missing values. If `FALSE`, the function does *not* remove `NA`s and will return a value of `NA` if there is an `NA` in the atomic vector.
```

In [6]:
quantile(employees$Salary, na.rm = TRUE)

      0%      25%      50%      75%     100%
 29825.0 129693.8 156289.5 184742.2 266235.0

In [7]:
print(quantile(employees$Salary, na.rm = TRUE))

      0%      25%      50%      75%     100%
 29825.0 129693.8 156289.5 184742.2 266235.0

In addition to measures of central tendency, we often also want to measure the dispersion, or spread, of a data set. We can do that with the following measures:

+ The **interquartile range (IQR)** - the difference between the first quartile (*i.e.*, the 25th percentile) and the third quartile (*i.e.*, the 75th percentile).

+ The **standard deviation** & **variance** - variance and standard deviation are both measures of the spread of a data set. The minimum value of both measures is zero (which indicates no variation in the data), and the higher the values the more spread out the data are. The variance is calculated in squared units, while the standard deviation is recorded in the base units.
  + Formally, the variance of a data set is written as:


  $$s^2 = \frac{1}{n - 1}\sum^{n}_{i=1}{(x_i - \bar{x})^2}$$

  + Although variance is an important concept in statistics, it does not provide a very intuitive understanding of the spread of a data set, because it is in squared units. Instead we more commonly look at the standard deviation, which is the square root of the variance.
  + Formally, the standard deviation of a data set is written as:


  $$s = \sqrt{\frac{1}{n - 1}\sum^{n}_{i=1}{(x_i - \bar{x})^2}}$$

  This can be thought of as roughly the average distance observations in the data set fall from the mean.

  We can calculate standard deviation and variance with the `sd()` and `var()` functions, respectively.

```{admonition} Syntax
`sd(vectorName, na.rm = FALSE)` & `var(vectorName, na.rm = FALSE)`
+ *Required arguments*
  - The atomic vector whose values one would like to find the standard deviation/variance of.
+ *Optional arguments*
  - `na.rm`: If `TRUE`, the function will **r**e**m**ove any missing values (`NA`s) in the atomic vector and find the standard deviation/variance of the non-missing values. If `FALSE`, the function does *not* remove `NA`s and will return a value of `NA` if there is an `NA` in the atomic vector.
```

In [8]:
sd(employees$Salary, na.rm = TRUE)
var(employees$Salary, na.rm = TRUE)

[1] 39479.84

[1] 1558657479

In [9]:
print(sd(employees$Salary, na.rm = TRUE))
print(var(employees$Salary, na.rm = TRUE))

[1] 39479.84

[1] 1558657479